<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <%= image_tag "high_res_round.png", alt: "logo" %>
  </a>

  <p class="primero">Primero Apartments</p>


  <div class="navbar-right hidden-xs hidden-sm">
      <%= link_to "Home", "#home", class: "navbar-item navbar-link" %>
      <%= link_to "Locations", locations_path, class: "navbar-item navbar-link" %>
      <%= link_to "Book", book_path, class: "navbar-item navbar-link" %>
      <%= link_to "FAQ", faq_path, class: "navbar-item navbar-link" %>
  </div>
</div>
