<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <%= image_tag "high_res_round.png", alt: "logo" %>
  </a>

  <h4 class="primero">Primero Apartments</h4>


  <div class="navbar-right hidden-xs hidden-sm">
      <%= link_to "Locations", locations_path, class: "navbar-item navbar-link button-white" %>
      <div class="navbar-item navbar-link dropdown">
        <button class="dropbtn">Book</button>
          <div class="dropdown-content">
            <%=link_to "Sheffield", sheffield_path %>
            <%=link_to "Cardiff", cardiff_path %>
            <%=link_to "Basingstoke", basingstoke_path %>
            <%=link_to "Birmingham - coming soon!", birmingham_path %>
            <%=link_to "Preston - coming soon!", preston_path %>
          </div>
      </div>
      <%= link_to "FAQ", faq_path, class: "navbar-item navbar-link button-white" %>
  </div>
</div>
