<div class="container">
<div class="text-center margin-top">
  <h2>Book your Basingstoke apartment</h2>
  <p align="justify" class="margin-text"><b>Verum House, Basingstoke</b><br>
Located just off New Street in the heart of Basingstoke, Verum House offers smart apartments which offer everything needed for a comfortable city stay. Secure underground parking comes at no extra charge with these 1 and 2 bedroom apartments.
  <br><br>
  <b>Old Post Office, Basingstoke</b><br>
The historic former Basingstoke Post Office has been lovingly converted into just 4 flats. With brand new appliances, kitchen and bathrooms the apartments still retained classic features such as the high ceilings and iconic windows. We are proud to make these unique apartments available to guests who want to stay in this unique place in Basingstoke city centre.</p>

</div>

<div class="text-center margin-top mb-10">
  <script src="https://s3.amazonaws.com/widgets.tokeet.com/widgets/interstitial/interstitial-widget.js?1554438722"></script>
    <script>
      window.tokeetIWSettings = {
        "element": "#widget",
        "engineDomain": "primerobasingstoke.securelettings.net",
        "type": "button",
        "showPrice": true,
        "showMinimumStay": true,
        "apiBaseUrl": "https://api.tokeet.com/",
        "apiMailBaseUrl": "https://mail.tokeet.com",
        "style": {
          "button": {
            "backgroundColor": "#061704"
          }
        }
      };
    </script>
  <div id="widget"></div>
</div>


<hr class="style-one mb-2">
<div class="text-center margin-top">
  <h2>Check out all apartments</h2>
</div>
<hr class="style-two">

<div class="container">
  <% @apartments.each do |apartment| %>
    <div class="row">
      <div class="col-md-6">
        <% if apartment.pkey == "7ace7df2-0506-400e-85dd-abab9dc4b79a" %>
          <%= render 'components/apt_18_bas' %>
        <% elsif apartment.pkey == "2c76ed6c-998a-4447-ba14-78a0d958a14f" %>
          <%= render 'components/apt_20_bas' %>
        <% elsif apartment.pkey == "8035e1bc-3baf-43a9-9292-7314556748b9" %>
          <%= render 'components/apt_2_bas' %>
        <% else %>
          <%= "" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <p><%= apartment.display_name %></p>
        <ul class="mb-4 pl-4">
          <li>Sleeps <%= apartment.sleep_max %></li>
          <li><%= apartment.bathrooms %> bathroom(s)</li>
          <li>Modern interior, fully equiped kitchen</li>
          <li>Hotel quality towels and linen included</li>
          <li>Hairdryer</li>
          <li>Key free access</li>
          <li>Fast Wifi</li>
        </ul>
        <p align="justify"><%= apartment.description %></p>
      </div>
      <div class="col-md-2">
        <a href="https://primerobasingstoke.securelettings.net/checkout?rental_id=<%= apartment.pkey %>&start=[booking_start_date]&end=[booking_end_date]" target="_blank" class="btn btn-primero btn-booking">Book</a>
        <div class="clearfix"></div>
        <p class="text-center text-md-right mt-2">From £<%= apartment.nightly %></p>
      </div>
    </div>
  <hr class="style-two">
  <% end %>
</div>
</div>
