<h2>Book you Basingstoke apartment</h2>

<div class="btn">
  <script src="https://s3.amazonaws.com/widgets.tokeet.com/widgets/interstitial/interstitial-widget.js?1554438722"></script>
    <script>
      window.tokeetIWSettings = {
        "element": "#widget",
        "engineDomain": "primerobasingstoke.securelettings.net",
        "type": "button",
        "showPrice": true,
        "showMinimumStay": true,
        "apiBaseUrl": "https://api.tokeet.com/",
        "apiMailBaseUrl": "https://mail.tokeet.com",
        "style": {
          "button": {
            "backgroundColor": "#061704"
          }
        }
      };
    </script>
  <div id="widget"></div>
</div>


<hr class="style-one">
<div class="text-center, margin-top">
  <h2>Check out all apartments</h2>
</div>
<hr class="style-two">

<ul>

<% @apartments.each do |apartment| %>
  <li><%= apartment.display_name %></li>
  <li>• Sleeps <%= apartment.sleep_max %></li>
  <li>• <%= apartment.bathrooms %> bathroom(s)</li>
  <li>• Modern interior, fully equiped kitchen</li>
  <li>• Hotel quality towels and linen included</li>
  <li>• Hairdryer</li>
  <li>• Key free access</li>
  <li>• Fast Wifi</li>
  <li><%= apartment.description %></li>

 <li> From <%= apartment.nightly %></li>

 <a href="https://primerobasingstoke.securelettings.net/checkout?rental_id=<%= apartment.pkey %>&start=[booking_start_date]&end=[booking_end_date]" target="_blank"
    class="btn btn-primero">Book</a>

 <br>
<hr class="style-two">
<% end %>
</ul>
