<div class="text-center, margin-top">
  <h2>Book your Cardiff apartment</h2>
</div>

<div class="text-center margin-top mb-10">
  <script src="https://s3.amazonaws.com/widgets.tokeet.com/widgets/interstitial/interstitial-widget.js?1554438722"></script>
    <script>
    window.tokeetIWSettings = {
      "element": "#widget",
      "engineDomain": "primerocardiff.securelettings.net",
      "type": "button",
      "showPrice": true,
      "showMinimumStay": true,
      "apiBaseUrl": "https://api.tokeet.com/",
      "apiMailBaseUrl": "https://mail.tokeet.com",
      "style": {
        "button": {
          "backgroundColor": "#061704"
        }
      }
    };
    </script>
  <div id="widget"></div>
</div>

<hr class="style-one mb-2">
<div class="text-center margin-top">
  <h2>Check out all apartments</h2>
</div>
<hr class="style-two">

<hr class="style-two">

<div class="container">
  <% @apartments.each do |apartment| %>
    <div class="row">
      <div class="col-md-6">
        <% if apartment.pkey == "2dcabefc-8f0a-4e35-abef-2d4d6258b920" %>
          <%= render 'components/apt_19_car' %>
        <% elsif apartment.pkey == "884333ec-edc9-4f46-927e-ad539de3f18a" %>
          <%= render 'components/apt_20_car' %>
        <% elsif apartment.pkey == "2800c9ab-fc95-4000-a32c-659f71df97f3" %>
          <%= render 'components/apt_23_car' %>
        <% elsif apartment.pkey == "61620078-983f-45d4-a9b5-11c2dc5510cd" %>
          <%= render 'components/apt_29_car' %>
        <% elsif apartment.pkey == "7551b7b3-febe-4972-ba5a-d92c94e04f3d" %>
          <%= render 'components/apt_31_car' %>
        <% elsif apartment.pkey == "f219c56c-4fd6-4e45-97c7-71d17bb7f30b" %>
          <%= render 'components/apt_34_car' %>
        <% elsif apartment.pkey == "719199ff-e436-45d3-823b-0f35f28df6de" %>
          <%= render 'components/apt_47_car' %>
        <% elsif apartment.pkey == "54a3375b-500b-4a35-b483-3011171f9107" %>
          <%= render 'components/apt_89_car' %>
        <% else %>
          <%= "" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <p><%= apartment.display_name %></p>
        <ul class="mb-4 pl-4">
          <li>Sleeps <%= apartment.sleep_max %></li>
          <li><%= apartment.bathrooms %> bathroom(s)</li>
          <li>Modern interior, fully equiped kitchen</li>
          <li>Hotel quality towels and linen included</li>
          <li>Hairdryer</li>
          <li>Key free access</li>
          <li>Fast Wifi</li>
        </ul>
        <p><%= apartment.description %></p>
      </div>

      <div class="col-md-2">
        <a href="https://primerocardiff.securelettings.net/checkout?rental_id=<%= apartment.pkey %>&start=[booking_start_date]&end=[booking_end_date]" target="_blank" class="btn btn-primero">Book</a>
        <div class="clearfix"></div>
        <p class="text-center"> From £<%= apartment.nightly %></p>
      </div>
    </div>
  <hr class="style-two">
  <% end %>
</div>

