<p id="notice"<%= notice %>></p>

<h1>Apartments</h1>

<% @apartments.each do |apartment| %>
  Apartment name: <%= apartment.name %> <br>
  Address: <%= apartment.address %> <br>
  Persons: <%= apartment.persons %> <br>
  Bathrooms: <%= apartment.bathrooms %><br>
  Description: <%= apartment.description %> <br>
  Link: <%= apartment.apartment_link %> <br>
  Location: <%= apartment.location %> <br>
  Price: <%= apartment.price %> pounds<br>
  Photo 1:<%= apartment.photo1 %> <br>
  Photo 2:<%= apartment.photo2 %> <br>
  Photo 3: <%= apartment.photo3 %> <br>
  Photo 4:<%= apartment.photo4 %> <br>
  Size: <%= apartment.size %> sqft <br>
  Floor: <%= apartment.floor %> <br>
  <!-- <td><%= link_to 'Show', apartment %></td> -->
  <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
  <td><%= button_to 'Destroy', apartment_path(apartment),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
  <br>
  <br>
<% end %>

<br>
<br>
<%= link_to 'New Apartment', new_apartment_path %>

<!--
<form action="/apartments" method="get">
  <input type="text" name="location" placeholder="City you want to visit">
  <input type="submit">
</form>
 -->


