<div class="container-flex">
  <div class="row">
    <div class="col-md">
      <br>
      <div class="card-product">
        <%= image_tag "sheffield_fitz.png", alt: "Sheffield" %>
        <div class="card-product-infos">
          <h2>Sheffield</h2>
            <p align="justify">Recently completed, the Fitzgerald apartments are a premium selection of 1 and 2 bedroom apartments. With 48 bed spaces in total you can choose from smaller...<a href="sheffield">continue reading</a></p>
        </div>
      </div>
    <br>
      <div class="card-product">
        <%= image_tag "cardiff_brick.png", alt: "Cardiff" %>
        <div class="card-product-infos">
          <h2>Cardiff</h2>
            <p align="justify">The premium serviced apartments at the brand-new Brickworks block are a mix of 1 and 2 bedroom apartments sleeping from 4 to 6 guests. Choose from comp...<a href="cardiff">Continue reading</a></p>
        </div>
      </div>
    <br>
      <div class="card-product">
        <%= image_tag "basingstoke_verum.png", alt: "Basingstoke" %>
        <div class="card-product-infos">
          <h2>Basingstoke</h2>
            <p align="justify">Located just off New Street in the heart of Basingstoke, Verum House offers smart apartments which offer everything needed for a comfortable city stay. Secure undergr... <a href="basingstoke">Continue reading</a></p>
        </div>
      </div>
    <br>
      <div class="card-product">
        <%= image_tag "birmingham.png", alt: "Birmingham" %>
        <div class="card-product-infos">
          <h2>Birmingham</h2>
            <p>Coming soon!<br><br><br><br></p>
        </div>
      </div>
    <br>
    </div>

    <div class="col-md">
      <br>
      <div id="map" style="width: 100%; height: 95%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        <%= content_for(:after_js) do %>
          <%= javascript_pack_tag 'map' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

