<div class="text-center, margin-top">
  <h2>Book your Sheffield apartment</h2>
</div>


<div class="text-center margin-top mb-10">
  <script src="https://s3.amazonaws.com/widgets.tokeet.com/widgets/interstitial/interstitial-widget.js?1554438722"></script>
    <script>
    window.tokeetIWSettings = {
      "element": "#widget",
      "engineDomain": "primerosheffield.securelettings.net",
      "type": "button",
      "showPrice": true,
      "showMinimumStay": true,
      "apiBaseUrl": "https://api.tokeet.com/",
      "apiMailBaseUrl": "https://mail.tokeet.com",
      "style": {
           "general": {
          "fontFamily": "Arial"
        },
        "button": {
          "backgroundColor": "#061704"
        }
      }
    };
    </script>
  <div id="widget"></div>
</div>

<hr class="style-one mb-2">
<div class="text-center margin-top">
  <h2>Check out all apartments</h2>
</div>
<hr class="style-two">

<div class="container">
  <% @apartments.each do |apartment| %>
    <div class="row">
      <div class="col-md-6">
        <% if apartment.pkey == "6cf30a63-ed0f-432b-b8cc-497b87fa5a8c" %>
          <%= render 'components/apt_4_shef' %>
        <% elsif apartment.pkey == "f6cabb58-5e0e-47ce-aa1b-76ad7b79eb62" %>
          <%= render 'components/apt_6_shef' %>
        <% elsif apartment.pkey == "fceec19c-b6d9-4b76-85d3-cafa76b8ef43" %>
          <%= render 'components/apt_8_shef' %>
        <% elsif apartment.pkey == "66ca085d-d399-4d44-9748-256e0d460e6d" %>
          <%= render 'components/apt_10_shef' %>
        <% elsif apartment.pkey == "1be0c544-b128-49ce-98e0-d25b6c7d2d41" %>
          <%= render 'components/apt_26_shef' %>
        <% elsif apartment.pkey == "e9e01182-be3f-4cf4-9224-407953bbd0d4" %>
          <%= render 'components/apt_30_shef' %>
        <% elsif apartment.pkey == "d47eaad0-a4d0-43ba-b840-e6b6ff5c3ade" %>
          <%= render 'components/apt_39_shef' %>
        <% elsif apartment.pkey == "7a748414-b56b-44f6-af59-f6ff37899f01" %>
          <%= render 'components/apt_43_shef' %>
        <% else %>
          <%= "" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <p><%= apartment.display_name %></p>
        <ul class="mb-4 pl-4">
          <li>Sleeps <%= apartment.sleep_max %></li>
          <li><%= apartment.bathrooms %> bathroom(s)</li>
          <li>Modern interior, fully equiped kitchen</li>
          <li>Hotel quality towels and linen included</li>
          <li>Hairdryer</li>
          <li>Key free access</li>
          <li>Fast Wifi</li>
        </ul>
        <p align="justify"><%= apartment.description %></p>
      </div>
      <div class="col-md-2">
        <a href="https://primerosheffield.securelettings.net/checkout?rental_id=<%= apartment.pkey %>&start=[booking_start_date]&end=[booking_end_date]" target="_blank" class="btn btn-primero btn-booking">Book</a>
        <div class="clearfix"></div>
        <p class="text-center text-md-right mt-2"> From £<%= apartment.nightly %></p>
      </div>
    </div>
  <hr class="style-two">
  <% end %>
</div>
