<div class="text-center, margin-top">
  <h2>Book your Sheffield apartment</h2>
</div>

<br>
<div class="btn, text-center, margin-top">
  <script src="https://s3.amazonaws.com/widgets.tokeet.com/widgets/interstitial/interstitial-widget.js?1554438722"></script>
    <script>
    window.tokeetIWSettings = {
      "element": "#widget",
      "engineDomain": "primerosheffield.securelettings.net",
      "type": "button",
      "showPrice": true,
      "showMinimumStay": true,
      "apiBaseUrl": "https://api.tokeet.com/",
      "apiMailBaseUrl": "https://mail.tokeet.com",
      "style": {
           "general": {
          "fontFamily": "Arial"
        },
        "button": {
          "backgroundColor": "#061704"
        }
      }
    };
    </script>
  <div id="widget"></div>
</div>
<br><br><br><br>
<hr class="style-one">

<!-- apartment 4 -->

<br>

<div class="text-center, margin-top">
  <h2>Check out all apartments</h2>
</div>
<hr class="style-two">

<% @apartments.each do |apartment| %>
<%= apartment.pkey %> <br>
<% end %>

<ul>

<% @apartments.each do |apartment| %>
  <li><%= apartment.display_name %></li>
  <li>• Sleeps <%= apartment.sleep_max %></li>
  <li>• <%= apartment.bathrooms %> bathroom(s)</li>
  <li>• Modern interior, fully equiped kitchen</li>
  <li>• Hotel quality towels and linen included</li>
  <li>• Hairdryer</li>
  <li>• Key free access</li>
  <li>• Fast Wifi</li>
  <li><%= apartment.description %></li>

  <li> From <%= apartment.nightly %></li>
  <a href="https://primero.securelettings.net/checkout?rental_id=<%= apartment.pkey %>&start=[booking_start_date]&end=[booking_end_date]" target="_blank"
     class="btn btn-primero">Book</a>
  <li><%= apartment.pkey %></li>

    <% if apartment.pkey == "6cf30a63-ed0f-432b-b8cc-497b87fa5a8c" %>
      <%= render 'components/apt_4_shef' %>
    <% elsif apartment.pkey == "f6cabb58-5e0e-47ce-aa1b-76ad7b79eb62" %>
      <%= render 'components/apt_6_shef' %>
    <% elsif apartment.pkey == "fceec19c-b6d9-4b76-85d3-cafa76b8ef43" %>
      <%= render 'components/apt_8_shef' %>
    <% elsif apartment.pkey == "66ca085d-d399-4d44-9748-256e0d460e6d" %>
      <%= render 'components/apt_10_shef' %>
    <% elsif apartment.pkey == "1be0c544-b128-49ce-98e0-d25b6c7d2d41" %>
      <%= render 'components/apt_26_shef' %>
    <% elsif apartment.pkey == "f6cabb58-5e0e-47ce-aa1b-76ad7b79eb62" %>
      <%= render 'components/apt_30_shef' %>
    <% elsif apartment.pkey == "e9e01182-be3f-4cf4-9224-407953bbd0d4" %>
      <%= render 'components/apt_39_shef' %>
    <% elsif apartment.pkey == "7a748414-b56b-44f6-af59-f6ff37899f01" %>
      <%= render 'components/apt_43_shef' %>
    <% else %>
      <%= "" %>
    <% end %>




  <hr class="style-two">
<% end %>
</ul>
